[Desktop Entry]
Version=1.0
Name=SolD Core
Comment=SolD P2P Cryptocurrency
Comment[de]=Verbinde mit dem SolD peer-to-peer Netzwerk
Comment[fr]=SolD, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SolD, eşten eşe kriptografik sanal para birimi
Exec=sold-qt %u
Terminal=false
Type=Application
Icon=sold128
MimeType=x-scheme-handler/sold;
Categories=Office;Finance;
StartupWMClass=SolD-qt
